
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  font-family: "Roboto Flex", "arial";
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  background-color: var(--background-body-color);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.top-side {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.title-style {
  color: var(--color-text-title);
  font-size: var(--text-title-large);
  margin: 0;
  padding: 0;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #4e4c7f;
  border-radius: 4px;
}

.content::-webkit-scrollbar-track {
  background-color: #2b2956;
  border-radius: 4px;
}
